extends error

block content

	h1 Error: #{error.message}
	if settings['verbose errors']
		pre= error.stack
	else
		p Somethings is not working as should be, let's call the handyman :)
	p 
		a(href='/') < Back to home