html
	head
		title Somethings is not working as usual..
		link(rel='stylesheet', href='/css/estilos.css')
		link(rel='stylesheet', href='/css/style.css')

body#error400
	#wrap
		h1 We're sorry.. 
		block content