extends layout

block content
	section#login
		div#loginL
			p
				ol
					li beneficios
					li beneficios
					li beneficios
		div#loginL
			a(href="/auth/facebook/")
				button.btn.btn-facebook
					i.fa.fa-facebook  | Sign in with Facebook
			a(href="/auth/twitter/")
				button.btn.btn-twitter 
					i.fa.fa-twitter  | Sign in with Twitter
	// login
