extends layout

block content
	link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css')
	//if lt IE 8
		script(src='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css')

	section
		div#mapa 
			h3 Loading map.. Hold on!
		// map

		script(src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js")
		script(src="/socket.io/socket.io.js")
		script.
			setTimeout(function() { 
				$('#mapa').html('');

				var map = L.map('mapa').setView([miubicacion[0], miubicacion[1]], 5);
				L.tileLayer('http://{s}.tile.cloudmade.com/2aa8946815814d3ea0bb70bd8e8a8ea5/997/256/{z}/{x}/{y}.png', {
					attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
				}).addTo(map);
				var popup = L.popup();
				L.marker([miubicacion[0], miubicacion[1]]).addTo(map).bindPopup("<strong>You are here</strong>: "+ miubicacion[0]+","+ miubicacion[1]).openPopup();
				// Some samples
				L.marker([51.5, -0.09]).addTo(map).bindPopup("<strong>London</strong>");
				L.marker([48.3675000, -118.1166]).addTo(map).bindPopup("<strong>Waterloo</strong>");
				L.marker([60, 105]).addTo(map).bindPopup("<strong>Siberia</strong>");
				L.marker([40.69847032728747, -73.9514422416687]).addTo(map).bindPopup("<strong>New York</strong>");

			}, 5000);
		script(src="/js/test.js")
		// leafletjs.com  