ul.tagit
  padding: 1px 5px
  overflow: auto
  margin-left: inherit
  margin-right: inherit

ul.tagit li
  display: inline-block
  margin: 2px 5px
  vertical-align: top

ul.tagit li.tagit-choice
  position: relative
  line-height: inherit

ul.tagit li.tagit-choice-read-only

ul.tagit li.tagit-choice-editable
  padding: .2em 18px .2em .5em

ul.tagit li.tagit-new
  padding: .25em 4px .25em 0

ul.tagit li.tagit-choice a.tagit-label
  cursor: pointer
  text-decoration: none

ul.tagit li.tagit-choice .tagit-close
  cursor: pointer
  position: absolute
  right: .1em
  top: 50%
  margin-top: -8px
  line-height: 17px

